<p #paragraph>Paragraph 1</p>
<p #paragraph>Paragraph 2</p>
<p #paragraph>Paragraph 3</p>
<button (click)="ChangeParagraphStyle()">Change Style</button>
<p><input type="text" #txtName></p>
{{this.childName}}
<button (click)="getinputValue()">Check Template Reference</button>
<button (click)="getNameLater()">Get Latest Name</button>
<app-child1></app-child1>
<app-child>
    <h3 #refSportsTitle>Football fffgffgfggffggf</h3>
    <!-- <h3 #refSportsTitle>Hockey</h3>
    <h3 #refSportsTitle>Cricket</h3> -->
    <div class="title">Hi I am at the child Page</div>
</app-child>
eieireir
{{this.FindNameValue}}
